.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 1px solid grey;
  border-radius: 5px;
  width: 400px;
  padding: 0 10px 0 10px;
}

.contact:hover {
  transform: scale(1.02);
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0 5px 0;
  font-size: 20px;
}

.deleteBtn {
  background-color: #dadada;
  border: 1px solid grey;
}

.deleteBtn:active {
  border: 2px solid rgb(100, 100, 100);
}

.icon {
  width: 24px;
  height: 24px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
