.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 641px;
  margin: 0 auto;
  padding: 44px;
  border-radius: 10px;
  border: 1px solid var(--color-gray-light);
  margin-top: 44px;
  margin-bottom: 64px;
}

.bookingHeader {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 8px;
  width: 100%;
}

.bookingForm h2 {
  color: var(--color-main);
  margin: 0;
}

.bookingForm h3 {
  margin: 0;
  color: var(--color-gray);
}
.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.formGroupInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.bookingBtn {
  width: 166px;
}

.bookingForm input,
.bookingForm select {
  width: 100%;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  background-color: #f7f7f7;
  outline: none;
  padding: 18px 20px 18px 8px;
}

.commentField {
  background-color: var(--color-inputs);
  border: none;
  border-radius: 12px;
  height: 118px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 8px;
  padding-top: 8px;
  outline: none;
  resize: none;
}
