/* :root { */
/* --color-main: #101828; Основний колір */
/* --color-text: #475467; Основний колір тексту */
/* --color-gray: #6c717b; Вторинний колір тексту */
/* --color-button: #e44848; Колір фону кнопки */
/* --color-button-hover: #d84343; Колір фону кнопки при наведені */
/* --color-rating: #ffc531; Колір рейтингових елементів */
/* --color-gray-light: #dadde1; */
/* --color-badges: #f2f4f7; */
/* --color-inputs: #f7f7f7; */
/* } */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: var(--color-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

a:hover {
  color: #d84343;
}

h1 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #f7f7f7;
  margin-top: 0;
  margin-bottom: 10px;
}

h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #f7f7f7;
  margin-bottom: 40px;
}

h3 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #475467;
  margin: 0;
  margin-top: 40px;
}

button {
  height: 56px;
  border-radius: 200px;
  background: #e44848;
  color: #ffffff;
  border: none;
  cursor: pointer;

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-align: center;
}

button:hover {
  background: #d84343;
}

p {
  font-size: 1.6em;
  margin: 0;
}

.active {
  color: #d84343;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.scroll {
  overflow: auto;
}
